

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
  color: #4492de;
  text-decoration: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 26px;
}

img { max-width: 100%; }

::-moz-selection { background: #4492de; color: #fff; text-shadow: none; }
::selection { background: #4492de; color: #fff; text-shadow: none; }


/***** Top menu *****/

.navbar {
  padding-top: 10px;
  background: #333;
  background: rgba(51, 51, 51, 0.3);
  border: 0;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
  font-size: 16px;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
  margin: 0 5px;
  font-size: 28px;
  vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover, 
.navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #4492de; }

.navbar-brand {
  width: 162px;
  background: url(../img/logo.png) left center no-repeat;
  text-indent: -99999px;
}


/***** Top content *****/

.top-content { padding: 40px 0 170px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box { padding-top: 40px; }

.f1 {
  padding: 25px; background: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; color: #4492de;
  font-weight: 400; }

  .f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

  .f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
  .f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #4492de; }

  .f1-step { position: relative; float: left; width: 16.6%; padding: 0 5px; }

  .f1-step-icon {
    display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #5f5f5f;
    font-size: 16px; color: #fff; line-height: 40px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
  }
  .f1-step.activated .f1-step-icon {
    background: #fff; border: 1px solid #4492de; color: #4492de; line-height: 38px;
  }
  .f1-step.active .f1-step-icon {
    width: 48px; height: 48px; margin-top: 0; background: #4492de; font-size: 22px; line-height: 48px;
  }

  .f1-step p { color: #ccc; }
  .f1-step.activated p { color: #4492de; }
  .f1-step.active p { color: #4492de; }

  .f1 fieldset { display: none; text-align: left; }

  .f1-buttons { text-align: right; }

  .f1 .input-error { border-color: #4492de; }



  /***** Media queries *****/

  @media (min-width: 992px) and (max-width: 1199px) {}

  @media (min-width: 768px) and (max-width: 991px) {}

  @media (max-width: 767px) {

    .navbar { padding-top: 0; }
    .navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
    .navbar-brand { height: 60px; margin-left: 15px; }
    .navbar-collapse { border: 0; }
    .navbar-toggle { margin-top: 12px; }

    .top-content { padding: 40px 0 110px 0; }

  }

  @media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

    .f1 { padding-bottom: 20px; }
    .f1-buttons button { margin-bottom: 5px; }

  }


  /* Retina-ize images/icons */

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

    /* logo */
    .navbar-brand {
      background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 162px 36px !important;
    }

  }


  .text-grey{
    color:#5f5f5f;
  }

  .list_heading {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 30px;
  }

  .error_box{
    color: red !important;
    font-weight: bold;
  }

  .dark_thead{
    background-color: #333;
    color: #ccc;
  }

  .container_scroller{
    display: block;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid;
  }

  .align_middle {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-right: 1px solid #ccc;
    vertical-align: middle !important;
    line-height: 12px;
  }

  .row_selected {
    background: #7cb2e6;
    font-weight: bold;
  }

  table> .form-group{
    margin-bottom: 7px !important;
  }

  .table_section_head{
    height: 35px;
    background: #222;
    color: white;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #fff;
    padding: 2px;
  }

  .table_section_body{
    text-align: left;
    vertical-align: middle;
    padding: 2px;
  }

  .table_section_body .row{
    border-bottom : 1px solid #827f7f;
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    position: relative !important; 
  }

  /*css for code block db showing*/
 .grey_out{
  opacity: 0.3;
 }

 button.btn.btn.btn-next:hover, button.btn.btn.btn-previous:hover {
        background: #4c4c4c;
    color: white;
    cursor: pointer;
}